*.o
*.lo
*.la
tags
cscope.out
Makefile
Makefile.in
.deps
.dirstamp
/.libs
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
/test_*
